header {
    text-align: center;
}

h1 {
    color: #4676A9;
    text-align: center;
    font-size: 70px;
}

h2 {
    color: #cb721c;
    font-size: 35px;
}

.teal-bg{
    color: #ffffff;
    padding: 20px;
    border: #0b4a5a solid 10px;
    background-color: #087A98;
}

footer {
    text-align: center;
}